VUE_APP_SUPABASE_URL=
VUE_APP_SUPABASE_KEY=
VUE_APP_REGISTER_KEY="supakalenda"

SUPABASE_SERVICE_KEY=

TELEGRAM_BOT_NAME=
TELEGRAM_BOT_TOKEN=

APP_REGISTER_KEY="supakalenda"
APP_URL="http://localhost:8080"
APP_TIMEZONE="Asia/Jakarta"
